body {
  background-color:#8E44AD;
  color: white;
  text-align: center;
  text-transform: uppercase; 
}
img {
    width: 100%;
}

.top {
    background: white;
    padding: 20px;
}
.row {
    margin: 0;
}

.header {
    background-color: #3498DB;
    padding: 20px 170px 20px 170px;
    margin: 10px 0 10px 0;
    font-size: 18px;
    border-bottom: 8px #2980B9 solid; 
}
.date {
    background-color: #2C3E4F; 
    border: 4px black solid; 
    padding-top: 10px;
    font-weight: 500;
}
.title {
    background-color: #C0392C;
    border: 4px black solid;
    line-height: 70px;
    font-weight: 400;
    font-size: 24px;
}
.buy-tix {
    background-color: #E74C3D;
    line-height: 70px;
    font-size: 20px;
    font-weight: 500;
    border-bottom:  4px #BD392D solid;
}
.lineup {
    color: black;
    font-size: 30px;
    line-height: 50px;
    font-weight: 500;
}

.lineups {
  /* width: 100%; */
  height: 100%;
  /* border: 1px black solid; */
  background-color:
  /* padding: 10px 10px 50px 10px; */
  font-size: 14px;
}
button {
  background-color: #F1C410;
  border-bottom: 3px #F39C12 solid;
  color: white;
  font-size: 20px;
  text-transform: uppercase; 
  font-weight: 500;
  width: 100%;
  
}
.lineup1 {
  padding-top: 10px;
  font-size: 14px;
}
.lineup2 {
  padding-top: 10px;
  font-size: 14px;
}
.lineup3 {
  padding-top: 10px;
  font-size: 14px;
}
.lineup1-col {
  background-color:  #2ECC70;
  padding: 20px 20px 40px 20px;
}
.lineup2-col {
  background-color:  #3498DB;
  padding: 20px 20px 40px 20px;
}
.lineup3-col {
  background-color:  #E84C3D;
  padding: 20px 20px 40px 20px;
}